# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Server
quotes-to-hear/server/

# dependencies
quotes-to-hear/node_modules/
quotes-to-hear/.pnp
quotes-to-hear/.pnp.js

# testing
quotes-to-hear/coverage

# production
quotes-to-hear/build

# misc
quotes-to-hear/.DS_Store
quotes-to-hear/.env.local
quotes-to-hear/.env.development.local
quotes-to-hear/.env.test.local
quotes-to-hear/.env.production.local

quotes-to-hear/npm-debug.log*
quotes-to-hear/yarn-debug.log*
quotes-to-hear/yarn-error.log*